@use "sass:color";
@use "./wal";

$bg-primary: color.adjust($color: wal.$color1, $lightness: -34%);
$bg-secondary: color.adjust($color: wal.$color1, $lightness: -16%);
$bg-tertiary: color.adjust($color: $bg-secondary, $lightness: 10%);
$bg-light: wal.$foreground;
$bg-translucent: color.change($color: $bg-primary, $alpha: 100%);
$bg-translucent-primary: $bg-translucent;
$bg-translucent-secondary: color.change($color: $bg-translucent, $alpha: 100%);
$fg-primary: wal.$foreground;
$fg-light: $bg-primary;
$fg-disabled: color.adjust($color: wal.$foreground, $lightness: -11%);
